@media (max-width: 480px) {
    .container {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    
    .responsives ul   {
       
        margin-left: -202px;
        border: 2px solid red;
    }
    .hero,
    .featured-services,
    .about,
    .counters,
    .section-container,
    .testimonial,
    .team,
    .contact,
    .footer{

        flex-direction: column;
    }
    .logo {
        text-align: center;
        font-size: 30px;
    }
}
